
.pagination{
   justify-content: center;

}
button{
background-color:aqua;
color:black;
padding:5px;

}

button:hover{
    cursor:pointer;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    
}